/*
https://coolors.co/d0cfec-6a8e7f-989572-c6ae82-edc7cf
SOAP: #D0CFEC;
AUTOMETALSAURUS: #6A8E7F
ARTICHOKE: #989572
LIGHT FRENCH BEIGE: #C6AE82
CAMEO PINK: #EDC7CF
 */
* {
    margin: 0;
    box-sizing: border-box;
}

/* general styles for html elements */

body {
    background-color: #D0CFEC;
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
}


h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 4em;
}

h2 {
    margin: 30px 0;
    font-size: 2em;
}

p {
    padding: 10px 50px;
}

hr {
    border-color: #EDC7CF;
    width: 70%;
    margin: 5px auto;
}

a {
    text-decoration: none;
}


/* general layout shared by all pages */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #6A8E7F;
    color: #EDC7CF;
    height: 150px;
}

.navlist {
    padding: 0 50px;
}

.nav li {
    list-style: none;
    display: inline;
}

.login {
    float: right;
    font-size: 1.2em;
}

div.login {
    float: right;
    font-size: 1.2em;
    padding: 0 10px;
}

a.menuButton {
    font-size: 1.2em;
    background-color: transparent;
    color: #EDC7CF;
    padding: 0 10px;
}

a.menuButton:hover, a.menuButton:active {
    background-color: #EDC7CF;
    color: #6A8E7F;
}


.bottom {
    background-color: #6A8E7F;
    color: #EDC7CF;
    height: 30px;
    font-size: 0.7em;
}

.bottom p {
    text-align: right;
}

.row1 {
    /*display: flex;*/
    /*position: relative;*/
    margin: 170px 50px 60px 50px;
    min-height: 500px;
}

.row1WithFilter {
    margin: 320px 50px 60px 50px;
}


.row1 ul {
    padding: 0;
}

.row1 li {
    list-style: none;
}

.filterArea {
    background-color: #EDC7CF;
    color: #4c6c5d;
    padding: 5px 50px;
    box-shadow: 1px 1px 1px darkgrey;
}

.filterButtonRow {
    display: flex;
    flex-direction: row;
}

.filters {
    margin: 0;
}

.filterrow input {
    background-color: #e2e2f3;
    color: #4c6c5d;
    margin: 3px 0px;
}

.sublist {
    margin: 80px;
}

/* links that do or don't look like buttons */
a.buttonLook, input.buttonLook {
    margin: 4px;
    display: block;
    background-color: #C6AE82;
    color: #4c6c5d;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
    padding: 1em;
    text-align: center;
    width: 3em;
}

a.buttonLook:hover, a.buttonLook:active, input.buttonLook:hover, input.buttonLook:active {
    background-color: #6A8E7F;
    color: #EDC7CF;
}

a.largeButton {
    width: 200px;
    font-size: 2em;
}

a.mediumButton {
    margin: 10px 0;
    width: 400px;
    font-size: 1.2em;
}

a.editButton, input.editButton {
    width: 6em;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
}

.horizontal {
    float: left;
}

.editButtonColumn {
    position: absolute;
    right: 50px;
    margin: -4px 5px;
}

a.filterButton {
    font-size: 1em;
    padding: 0.5em;
    margin: 0 4px 0 0;
    background-color: #6A8E7F;
    color: #D0CFEC;
}

a.filterButton:hover, a.filterButton:active {
    background-color: #D0CFEC;
    color: #6A8E7F;
}

a.prevNextButton {
    font-size: 1.5em;
}

a.active {
    background-color: #0f583a;
    color: #dfdefb;
}

a.linkLook {
    background-color: transparent;
    color: #6A8E7F;
}

a.linkLook:hover {
    background-color: transparent;
    color: #989572;
}


/* venue page only */
.venueinfo {
}

.infoLine {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}

.infoLine input, .infoLine select {
    background-color: #e2e2f3;
    color: #4c6c5d;
    margin: 3px 0px;
    width: 250px;
}

.infoLineName {
    width: 13em;
}

.infoLineValue {
    font-size: 1.2em;
    text-align: left;
}

.prevButtonDiv {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.nextButtonDiv {
    position: absolute;
    right: 50px;
    bottom: 50px;

}

/* home page only */

.row2 {
    background-color: #989572;
    color: #EDC7CF;
    height: 400px;
    padding: 60px 0;
}

.row3 {
    background-color: #C6AE82;
    height: 300px;
    padding: 60px 0;
    text-align: center;
}


