<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">app</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/party/static/css/style.css">
</head>
<body>


<div class="nav">
    <h1 th:text="${appName}"> app</h1>
    <ul class="navlist">
        <li><a class="menuButton" href="/parties">parties</a></li>
        <li><a class="menuButton" href="/venues">venues</a></li>
        <li><a class="menuButton" href="/artists">artists</a></li>
        <li sec:authorize="isAuthenticated()"><a class="menuButton login" href="/user/logout">logout</a></li>
        <li sec:authorize="!isAuthenticated()"><a class="menuButton login" href="/user/login">login</a></li>
    </ul>
</div>

<div class="row1">
    <div class="row1content">
        <div th:if="${artist}">
            <h2 th:text="|Artist: ${artist.name}|">venue</h2>
            <div class="venueinfo">
                <div class="infoLine">
                    <div class="infoLineName">more info:</div>
                    <div class="infoLineValue"><a th:text="${artist.linkMoreInfo}"
                                                  th:href="${artist.linkMoreInfo}"
                                                  class="linkLook"
                                                  target="_blank">more_info_link</a></div>
                </div>
                <div class="infoLine" th:each="party:${artist.parties}">
                    <div class="infoLineName">party:</div>
                    <div class="infoLineValue">
                        <a th:text="${party.name}"
                           th:href="|/party/${party.id}|"
                           class="linkLook">The Party</a>
                    </div>
                </div>

            </div>
            <div>
                <div class="prevButtonDiv">
                    <a th:href="'/artist/'+${idOfPrevArtist}"
                       href="/artist.html"
                       class="buttonLook prevNextButton">&lt;</a>
                </div>
                <div class="nextButtonDiv">
                    <a th:href="'/artist/'+${idOfNextArtist}"
                       href="/artist.html"
                       class="buttonLook prevNextButton">&gt;</a>
                </div>
            </div>
        </div>
        <div th:unless="${artist}">no artist was chosen.</div>
        <div class="filterButtonRow"></div>
    </div>
</div>
</body>
</html>